* {
  margin: 0;

  padding: 0;

  border: 0;
}

@import url("https://fonts.googleapis.com/css?family=Lato:400,700");

.App {
  color: #0a0a0b;
  font-family: "Lato", sans-serif;
  margin: 0;
  height: 900px;
  background: url("https://images.pexels.com/photos/258173/pexels-photo-258173.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.slide-toggle {
  display: none;
}

.slidemenu {
  font-family: arial, sans-serif;
  max-width: 600px;
  margin: 50px auto;
  overflow: hidden;
}

.slidemenu label {
  width: 25%;
  text-align: center;
  display: block;
  float: left;
  color: black;
}

.slidemenu label:hover {
  cursor: pointer;
  color: rgb(53, 50, 50);
}

.slidemenu label span {
  display: block;
  padding: 10px;
}

.slidemenu label .icon {
  font-size: 20px;
  border: solid 2px #333;
  text-align: center;
  height: 50px;
  width: 50px;
  display: block;
  margin: 0 auto;
  line-height: 50px;
  border-radius: 50%;
}

/*WeatherCard*/

div.widget {
  position: relative;
  width: 355px;
  height: 125px;
  margin: 15% auto;
  background-color: #fcfdfd;
  border-radius: 9px;
  padding: 25px;
  padding-right: 30px;
  box-shadow: 0px 31px 35px -26px #080c21;
}

div.date {
  font-size: 14px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.5);
}

div.city {
  font-size: 21px;
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 5px;
  color: rgba(0, 0, 0, 0.7);
}

div.temp {
  font-size: 81px;
  color: rgba(0, 0, 0, 0.9);
  font-weight: 100;
}

div.panel {
  display: inline-block;
}

div.right-panel {
  position: absolute;
  float: right;
  top: 0;
  margin-top: 35px;
  padding-left: 10px;
}
